/*-------------------------HEADER STYLE-------------------------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}
nav {
  width: 70%;
}

header {
  width: 100%;
  background-color: whitesmoke;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: rgb(131, 131, 131);
  border-bottom: grey solid 5px;
}
.nav-list {
  margin-bottom: 0.8em;
  display: flex;
  justify-content: space-between;
}
.nav-list li{
  margin-top: 1em;
  padding-bottom: 0.3em;
  border-bottom: 2px rgb(131, 131, 131) solid;
  font-size: 1.3rem;
}
.nav-list li > a {
  color: rgb(131, 131, 131);
}


.sous-menu {
  display: none;
}
.accueil {
  margin: auto;
}
.active-sousMenu {
  display: inline-block;
}
.active-sousMenu li {
  display: inline-block;
  font-size: 0.7rem;
  margin: 0%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
.logo-img {
  width: 75px;
}
@media screen and (min-width: 376px) {
  body {
    background-color: white;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
  }
  nav {
    width: 50%
  };
  .nav-list li {
    border: none;
  }
}


  /*------------------------PAGE ARTICLE----------------------*/

 #all-article{
     text-align: center;
     width: 100%;
     margin-top: 150px;
  }
   

  .img-techno{
    width: 4%;

  }

  .date-author{
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  
  .article-date{
      margin-left: 160px;
  }

  .article-author{
      margin-right: 160px;
  }

  .text-article{
      text-align: justify;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 35%;
      
  }
    
  /* ----------------COMMENT STYLE-----------------------*/

  #comment-zone{
    text-align: center;
    margin-bottom: 20px;
  }

  laissezcom{
    background-color: lightslategrey;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    margin-left: 380px;
    margin-right: 380px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.pseudoavatar{
    text-align: center;
    font-size: 1em;
    
}

.usercom{
  border: 7px outset rgba(54,62,245,0.6);
  border-radius: 0px 40px 0px 40px;
    padding: 30px;
    background-color: #7CB9E8;
    width: 35%;
    margin: 0 auto;
}

.textcom{
  border: 7px outset rgba(54,62,245,0.6);
  border-radius: 0px 40px 0px 40px;
  background-color: #7CB9E8;
  
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

h4{
    text-align: center;
    color: red;
}
  /* ----------------CONTACT STYLE-----------------------*/

input[type="submit"] {
    background: goldenrod;
    color: white;
    border: none;
    padding: 5px 10px;
  }
  
  /*----------------FOOTER STYLE----------------------*/
  
  #footer-end {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid;
    padding: 0.5em;
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
  }
  
  .listfooter {
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .logo-img {
    width: 75px;
  }
  @media screen and (min-width: 376px) {
    body {
      background-color: white;
    }
  }
  
  #footer-end {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid;
  }
  .listfooter {
    text-align: center;
  }
  
  .li-center {
    padding: 10px 10px;
  }
  