body {
  margin: 0;
}

header {
  padding: 0.5em;
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-menu {
    display: none;
}
.logo {
  width: 60px;
  height: 20px;
  background-color: lightgreen;
}
.menu-nav {
  list-style: none;
  padding-left: 0;
}
.hidden-menu {
  display: none;
  padding-left: 0;
}
.visible {
  display: block;
  padding: 1em;
  position: absolute;
  background-color: rgb(150, 151, 151);
  width: 50%;
}

footer {
  padding: 1em;
  width: 100%;
  background-color: lightgray;
}

@media screen and (min-width: 376px) {
  body {
    background-color: lightblue;
  }

  /*----------------ARTICLES STYLE----------------------*/
 
aside, section {
    margin: 0;
    padding: 1.25rem;
    justify-content: space-between;
  }

.flex-container {
  display: flex;
}

.wrapper {
  margin: auto;
  max-width: 75rem;
  gap: 1%;
  } 

 .article-header {
   justify-content: space-around;
   padding: 5px;
   background: yellow
 } 
  
  .content {
    flex: 1;
    background-color: #85bbe2;
  }
  
  .sidebar {
    flex: 0 1 300px;
    background-color: #f5b35d
  }

/*----------------FOOTER STYLE----------------------*/

#footer-end{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid;
    
}
.listfooter{
    text-align: center;
   
}

ul{
    list-style-type: none;
}
